# Python
*.py[cod]
__pycache__/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environment Variables
.env
.env.*

# pipenv
Pipfile.lock

# pyenv
.python-version

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.cache/

# VS Code
.vscode/

# IDE
.idea/

# Migrations
*/migrations/*

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
